--
-- PostgreSQL database dump
--


-- Dumped from database version 16.13 (Debian 16.13-1.pgdg13+1)
-- Dumped by pg_dump version 16.13 (Debian 16.13-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: road_segments; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.road_segments (
    id bigint NOT NULL,
    segment_id text NOT NULL,
    from_node integer NOT NULL,
    to_node integer NOT NULL,
    from_x double precision,
    from_y double precision,
    to_x double precision,
    to_y double precision,
    speed_limit_kmh double precision,
    length_km double precision,
    base_travel_time_h double precision,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);



--
-- Name: road_segments_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.road_segments_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;



--
-- Name: road_segments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.road_segments_id_seq OWNED BY public.road_segments.id;


--
-- Name: traffic_events; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.traffic_events (
    id bigint NOT NULL,
    event_type text DEFAULT 'traffic_update'::text NOT NULL,
    segment_id text NOT NULL,
    from_node integer NOT NULL,
    to_node integer NOT NULL,
    traffic_level text NOT NULL,
    traffic_multiplier double precision NOT NULL,
    weight double precision NOT NULL,
    event_timestamp timestamp without time zone NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);



--
-- Name: traffic_events_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.traffic_events_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;



--
-- Name: traffic_events_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.traffic_events_id_seq OWNED BY public.traffic_events.id;


--
-- Name: vehicle_current_state; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.vehicle_current_state (
    vehicle_id text NOT NULL,
    last_timestamp timestamp without time zone NOT NULL,
    x double precision NOT NULL,
    y double precision NOT NULL,
    speed_kmh double precision NOT NULL,
    current_node integer,
    segment_id text,
    destination_node integer,
    status text,
    current_target_stop integer,
    route_stops jsonb,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    direction integer,
    current_stop_index integer
);



--
-- Name: vehicle_events; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.vehicle_events (
    id bigint NOT NULL,
    event_type text DEFAULT 'vehicle_update'::text NOT NULL,
    vehicle_id text NOT NULL,
    event_timestamp timestamp without time zone NOT NULL,
    x double precision NOT NULL,
    y double precision NOT NULL,
    speed_kmh double precision NOT NULL,
    current_node integer,
    segment_id text,
    destination_node integer,
    status text,
    current_target_stop integer,
    route_stops jsonb,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);



--
-- Name: vehicle_events_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.vehicle_events_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;



--
-- Name: vehicle_events_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.vehicle_events_id_seq OWNED BY public.vehicle_events.id;


--
-- Name: vehicles; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.vehicles (
    vehicle_id text NOT NULL,
    vehicle_type text NOT NULL,
    line_id text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);



--
-- Name: road_segments id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.road_segments ALTER COLUMN id SET DEFAULT nextval('public.road_segments_id_seq'::regclass);


--
-- Name: traffic_events id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.traffic_events ALTER COLUMN id SET DEFAULT nextval('public.traffic_events_id_seq'::regclass);


--
-- Name: vehicle_events id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.vehicle_events ALTER COLUMN id SET DEFAULT nextval('public.vehicle_events_id_seq'::regclass);


--
-- Name: road_segments road_segments_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.road_segments
    ADD CONSTRAINT road_segments_pkey PRIMARY KEY (id);


--
-- Name: traffic_events traffic_events_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.traffic_events
    ADD CONSTRAINT traffic_events_pkey PRIMARY KEY (id);


--
-- Name: road_segments uq_road_segments_direction; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.road_segments
    ADD CONSTRAINT uq_road_segments_direction UNIQUE (from_node, to_node);


--
-- Name: vehicle_current_state vehicle_current_state_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.vehicle_current_state
    ADD CONSTRAINT vehicle_current_state_pkey PRIMARY KEY (vehicle_id);


--
-- Name: vehicle_events vehicle_events_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.vehicle_events
    ADD CONSTRAINT vehicle_events_pkey PRIMARY KEY (id);


--
-- Name: vehicles vehicles_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.vehicles
    ADD CONSTRAINT vehicles_pkey PRIMARY KEY (vehicle_id);


--
-- Name: idx_road_segments_to_node; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_road_segments_to_node ON public.road_segments USING btree (to_node);


--
-- Name: idx_traffic_events_event_timestamp; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_traffic_events_event_timestamp ON public.traffic_events USING btree (event_timestamp);


--
-- Name: vehicle_current_state vehicle_current_state_vehicle_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.vehicle_current_state
    ADD CONSTRAINT vehicle_current_state_vehicle_id_fkey FOREIGN KEY (vehicle_id) REFERENCES public.vehicles(vehicle_id);


--
-- Name: vehicle_events vehicle_events_vehicle_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.vehicle_events
    ADD CONSTRAINT vehicle_events_vehicle_id_fkey FOREIGN KEY (vehicle_id) REFERENCES public.vehicles(vehicle_id);


--
-- PostgreSQL database dump complete
--

